/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Widtget

.ticker-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.ticker-wrapper {
  display: flex;
  animation: scroll 30s linear infinite; /* Duración uniforme */
}

.ticker-wrapper:hover {
  animation-play-state: paused; /* Pausa la animación al hacer hover */
}

.ticker-item {
  flex-shrink: 0; /* Evita que los elementos se reduzcan */
}

@keyframes scroll {
  from {
    transform: translateX(100%); /* Empieza fuera del contenedor */
  }
  to {
    transform: translateX(-100%); /* Sale por el otro lado */
  }
}

.icon-redes {
  font-size: 30px;
  color: #282828;

  &:hover {
    color: #6d5efc;
  }
}

/* Navbar */
.navbar-nav {
  align-items: center;
  gap: 20px;
}

.collapse {
  visibility: visible;
  display: flex;
  justify-content: center;
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 480px) {
  .collapse {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .collapse.show {
    visibility: visible;
    height: auto;
  }

  .ticker-wrapper {
    animation: scroll 10s linear infinite; /* Duración uniforme */
  }

  .truncated-text-carousel {
    -webkit-line-clamp: 6;
  }
}
