/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Widtget

.ticker-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.ticker-wrapper {
  display: flex;
  animation: scroll 30s linear infinite; /* Duración uniforme */
}

.ticker-wrapper:hover {
  animation-play-state: paused; /* Pausa la animación al hacer hover */
}

.ticker-item {
  flex-shrink: 0; /* Evita que los elementos se reduzcan */
}

@keyframes scroll {
  from {
    transform: translateX(100%); /* Empieza fuera del contenedor */
  }
  to {
    transform: translateX(-100%); /* Sale por el otro lado */
  }
}

.icon-redes {
  font-size: 30px;
  color: #282828;

  &:hover {
    color: #6d5efc;
  }
}

/* Navbar */
.navbar-nav {
  align-items: center;
  gap: 20px;
}

.collapse {
  visibility: visible;
  display: flex;
  justify-content: center;
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 480px) {
  .collapse {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .collapse.show {
    visibility: visible;
    height: auto;
  }

  .ticker-wrapper {
    animation: scroll 10s linear infinite; /* Duración uniforme */
  }

  .truncated-text-carousel {
    -webkit-line-clamp: 6;
  }
}

/* Contenedor del interruptor */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Oculta el checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider que actúa como fondo */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

/* Posición inicial del ícono */
.slider i {
  font-size: 18px;
  transition: 0.4s;
}

/* Cuando el checkbox está marcado */
.toggle-switch input:checked + .slider {
  background-color: #333;
}

/* Estilos para dark mode */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

/* Ajusta otros estilos según necesites */
